// banner
#banner {
  position: relative;
  // width: 100vw;
  width: 100%;
  height: 100vh;
  .swiper-slide {
    position: relative;
    img,
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.mobile-slider {
        display: none;
      }
    }
  }
  .swiper-pagination {
    width: 200px;
    height: 3px;
    top: inherit;
    bottom: 20px;
    left: 50%;
    border-radius: 50px;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    .swiper-pagination-progressbar-fill {
      background-color: #fff;
      border-radius: 50px;
    }
  }
}

// introduce
.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  .intro-box {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      color: $main-color;
    }
    p {
    }
  }
}



// product
.product {
  width: 100%;
  .product-pic {
    width: 43%;
    .swiper-slide {
      width: 100%;
      padding-bottom: 200%;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
  .product-card {
    // width: 57vw;
    width: 57%;
    padding: 40px 80px 0;
    position: relative;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    // display: flex;
    .common-title {
      color: $main-color;
      text-align: center;
      margin-bottom: 45px;
    }
    #mobile-product {
      .product-box {
        .text {
          text-align: left;
          a {
            text-align: center;
            display: block;
            width: fit-content;
            margin: 0 auto;
          }
        }
      }
    }

    .more {
      position: static;
      float: right;
      margin-top: 20px;
    }
  }
}




@media screen and (max-width: 1024px) {
  
  .product {
    .product-pic {
      width: 50%;
      #product-pic {
        width: 100%;
        height: 120vw;
      }
    }

    .product-card {
      width: 50%;
      padding: 40px 30px;
    }
  }
}



@media screen and (max-width: 767px) {
  #banner {
    .swiper-slide {
      img {
        &.normal-slider {
          display: none;
        }
        &.mobile-slider {
          display: block;
        }
      }
    }
  }

  

  .product {
    .product-pic {
      width: 100%;
    }
    #product-pic {
      width: 100%;
      height: 100vw;
      .swiper-button-next,
      .swiper-button-prev {
        display: block;
      }
    }
    .product-card {
      .common-title {
        padding-right: 15px;
      }
      width: 100%;
      padding: 50px 0 30px 15px;
    }
    .more {
      padding-right: 15px;
    }
  }
}
