$main-color: #d72136;
$second-color: #c5aa76;
$third-color: #F7EFF0;

@import "./common";
@import "./index";
@import "./about";
@import "./charity";
@import "./product";
@import "./contact";
@import "./story";
@import "./media";
@import "./earth";
@import "./calendar";










