* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
}

button {
  border: 0;
  background-color: transparent;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.text-main-color {
  color: #d72136;
}

.text-second-color {
  color: #c5aa76;
}

.bg-main {
  background-color: #d72136;
}

.bg-second {
  background-color: #c5aa76;
}

.bg-third {
  background-color: #F7EFF0;
}

.w-85px {
  width: 85px;
}

.w-fit {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.py-80px {
  padding-bottom: 80px;
  padding-top: 80px;
}

.pt-40px {
  padding-top: 40px;
}

.pt-80px {
  padding-top: 80px;
}

.pb-80px {
  padding-bottom: 80px;
}

.mt-60px {
  margin-top: 60px;
}

.mb-80px {
  margin-bottom: 80px;
}

.mt-n57px {
  margin-top: -57px;
}

.pt-57px {
  padding-top: 57px;
}

.opacity-0 {
  opacity: 0;
}

.b-5p {
  bottom: 5% !important;
}

.position-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
  right: inherit !important;
  bottom: inherit !important;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  color: #000;
  opacity: 0.5;
}

.swiper-container .swiper-pagination {
  width: 200px;
  height: 3px;
  top: inherit;
  bottom: 20px;
  left: 50%;
  border-radius: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.3);
}

.swiper-container .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #fff;
  border-radius: 50px;
}

.common-title {
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 1.4;
}

.common-text {
  line-height: 1.8;
  font-size: 15px;
}

.more {
  line-height: 1;
  position: absolute;
  right: 47px;
  bottom: 43px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.more span {
  vertical-align: middle;
}

.more span.white {
  color: #fff;
}

.more span.brown {
  color: #c5aa76;
}

.more img {
  vertical-align: middle;
  width: 15px;
  margin-left: 5px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.more:hover {
  right: 37px;
}

.more:hover img {
  margin-left: 10px;
}

main {
  width: 100%;
  padding-top: 57px;
}

.page-title {
  font-size: 22px;
  text-align: center;
  color: #d72136;
  margin-bottom: 50px;
}

.page-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 46px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-nav ul li {
  margin: 0 15px 15px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.page-nav ul li a {
  color: #898989;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  top: calc(100%);
  left: 0;
  opacity: 0;
}

.page-nav ul li.active a, .page-nav ul li:hover a {
  color: #000;
}

.page-nav ul li.active::after, .page-nav ul li:hover::after {
  opacity: 1;
}

.page-tab {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 25px 35px;
  border-radius: 100px;
  background-color: #F7EFF0;
  margin: 0 auto 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
  z-index: 100;
}

.page-tab li {
  position: relative;
  width: auto;
  margin: 0;
}

.page-tab li button {
  padding: 0 15px;
  background-color: transparent !important;
  border: 0 !important;
  color: #000 !important;
}

.page-tab li button::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 3px;
  background-color: #d72136;
  top: calc(100% + 22px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.page-tab li button.active, .page-tab li button:hover {
  font-weight: 700;
}

.page-tab li button.active::after, .page-tab li button:hover::after {
  opacity: 1;
}

.page-tab li button.active button, .page-tab li button:hover button {
  background-color: transparent;
  border: 0;
  color: #000;
}

.page-tab li button img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 8px;
  margin-left: 25px;
  display: none;
}

.page-tab-mobile {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 20px;
  display: none;
}

.page-tab-mobile img {
  width: 8px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.page-tab-bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.page-tab-box {
  display: block;
}

.page-banner {
  padding-top: 34px;
}

.page-banner_inner {
  background-color: #d72136;
  background-image: url(../img/style.svg);
  background-size: 22vw;
  background-position: top right;
  background-repeat: no-repeat;
  padding-bottom: 46px;
}

.page-banner_content {
  -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
}

.page-banner_content > img {
  width: 100%;
  margin-bottom: 37px;
}

.page-banner_content .page-banner_swiper {
  width: 100%;
  margin-bottom: 37px;
}

.page-banner_content .page-banner_swiper .swiper-slide {
  width: 100%;
  padding-bottom: 50%;
  position: relative;
}

.page-banner_content .page-banner_swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-banner_content h2 {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 24px;
  line-height: 31px;
}

.page-banner_content p {
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}

.dealer {
  width: 100%;
  height: 100vh;
}

.dealer .mobile-style {
  display: none;
}

.dealer .dealer-pic {
  padding: 0;
  width: 43%;
  height: 100vh;
}

.dealer .dealer-pic_inner {
  width: 100%;
  height: 100%;
  position: relative;
}

.dealer .dealer-pic_inner > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dealer .dealer-pic_inner .swiper-slide {
  position: relative;
}

.dealer .dealer-pic_inner .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.dealer .dealer-pic_inner .swiper-pagination {
  left: 20px;
  -webkit-transform: none;
          transform: none;
}

.dealer .dealer-pic .dealer-intro {
  width: 120px;
  height: 85px;
  position: absolute;
  top: 0;
  right: -60px;
  z-index: 10;
}

.dealer .dealer-pic .dealer-intro .name-box {
  background-color: #c5aa76;
  padding: 10px;
  color: #fff;
}

.dealer .dealer-pic .dealer-intro .name-box .title {
  margin-bottom: 2px;
}

.dealer .dealer-pic .dealer-intro .name-box .name {
  margin-bottom: 0;
  font-size: 900px;
  font-size: 22px;
}

.dealer .dealer-text {
  width: 57%;
  min-height: 44vw;
  position: relative;
  background-color: #d72136;
  background-image: url(../img/style.svg);
  background-size: 22vw;
  background-position: right top;
  background-repeat: no-repeat;
}

.dealer .dealer-text .bg-box .bg {
  width: 100%;
  padding-bottom: 39.5%;
  background-color: #d72136;
}

.dealer .dealer-text .text {
  color: #fff;
  text-align: center;
  position: absolute;
  width: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 25%;
}

.dealer-expert .dealer-text .text {
  position: static;
  -webkit-transform: none;
          transform: none;
  width: 80%;
  margin: 0 auto;
}

.dealer-leader .dealer-text {
  padding: 50px 0;
}

.dealer-leader .dealer-text .text {
  position: static;
  -webkit-transform: none !important;
          transform: none !important;
}

.content-text {
  padding: 35px 20px 80px;
}

.content-text p {
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 28px;
}

.content-text h3 {
  font-size: 24px;
  color: #d72136;
  margin-bottom: 10px;
  font-weight: 700;
}

.content-text h4 {
  color: #c5aa76;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 13px;
}

.main-card .text {
  padding: 10px 30px 30px;
}

.main-card .text small {
  font-size: 13px;
  color: #676767;
  margin-bottom: 10px;
}

.main-card .text h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 13px;
}

.main-card .hide-box .hide-content {
  display: none;
}

.main-card .hide-box .hide-content h4 {
  font-size: 18px;
  font-weight: 700;
  color: #d72136;
}

.main-card .hide-box .hide-content p {
  line-height: 1.8;
  margin: 0;
}

.main-card .hide-box .card_arrow {
  width: 12px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: block;
  margin: 20px auto 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-card .hide-box .card_arrow.active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.second-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.second-card .pic {
  width: 25%;
}

.second-card .pic .inner {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.second-card .pic .inner img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-card .text {
  background-color: #fff;
  width: 75%;
  padding: 25px 40px;
}

.second-card .text .date {
  color: #7a7a7a;
  font-size: 14px;
  margin-bottom: 8px;
}

.second-card .text h3 {
  color: #c5aa76;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
}

.second-card .text p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.main-pagination .page-item {
  position: relative;
}

.main-pagination .page-item .page-link {
  background-color: transparent;
  border: 0;
  color: #000;
  padding: 5px 15px;
}

.main-pagination .page-item .page-link .arrow {
  width: 8px;
}

.main-pagination .page-item .page-link .arrow.prev {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.main-pagination .page-item::after {
  position: absolute;
  content: "";
  width: 80%;
  height: 3px;
  background-color: #d72136;
  border-radius: 100px;
  bottom: 0;
  left: 10%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-pagination .page-item.active, .main-pagination .page-item:hover {
  background-color: transparent;
}

.main-pagination .page-item.active::after, .main-pagination .page-item:hover::after {
  opacity: 1;
}

.main-list_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 10px;
  border-bottom: 1px solid #c5c5c5;
}

.main-list_box span {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  width: calc(100% - 30px);
}

.main-list_box img {
  width: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-list_box img.plus-icon.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.main-list_box .hide-box {
  display: none;
}

.menu {
  max-width: 320px;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 100;
  overflow: auto;
  background-image: url(../img/menu-style.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 23px 30px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.menu.active {
  left: 0;
}

.menu::-webkit-scrollbar {
  display: none;
}

.menu .logo {
  width: 50px;
  margin-bottom: 50px;
}

.menu .content .item {
  margin-bottom: 20px;
}

.menu .content .item .menu-title {
  color: #c5aa76;
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 20px;
  cursor: pointer;
}

.menu .content .item .menu-title a {
  color: #c5aa76;
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 20px;
}

.menu .content .item ul {
  display: none;
}

.menu .content .item ul li {
  margin-bottom: 10px;
}

.menu .content .item ul li a {
  font-size: 16px;
}

.menu .lang {
  margin-top: 50px;
  line-height: 1;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.menu .lang .globe {
  width: 15px;
  vertical-align: middle;
  margin-right: 3px;
}

.menu .lang span {
  margin-right: 3px;
  vertical-align: middle;
  font-size: 14px;
}

.menu .lang span.active {
  color: #d72136;
}

.menu .lang .arrow {
  width: 12px;
  vertical-align: middle;
  padding: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .lang .arrow img {
  width: 100%;
}

.menu .lang .arrow.active {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.menu .lang .choose-box {
  overflow-x: hidden;
  width: calc(100% - 12px);
}

.menu .lang .choose-box .inner {
  padding-top: 3px;
  margin-left: 145px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu .lang .choose-box .inner.active {
  margin-left: 0;
}

header .left {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 23px;
  padding: 25px 30px;
  z-index: 5;
}

header .left .logo {
  width: 50px;
  margin-bottom: 20px;
}

header .left .menu-icon img {
  width: 20px;
  cursor: pointer;
}

header .right {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 30px;
  z-index: 5;
}

header .right a {
  display: inline-block;
  margin: 0 10px;
}

header .right a img {
  width: 20px;
}

header .right .search-box {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  cursor: pointer;
}

header .right .search-box .inner {
  width: 0;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .right .search-box .inner form {
  width: 150px;
}

header .right .search-box .inner form input {
  width: 100%;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid #d72136;
}

header .right .search-box .inner form input::-webkit-input-placeholder {
  color: #727272;
}

header .right .search-box .inner form input:-ms-input-placeholder {
  color: #727272;
}

header .right .search-box .inner form input::-ms-input-placeholder {
  color: #727272;
}

header .right .search-box .inner form input::placeholder {
  color: #727272;
}

header .right .search-box.active .inner {
  width: 100px;
}

footer {
  width: 100%;
  background-image: url(../img/footer-style.svg);
  background-size: 30vw auto;
  background-position: right top;
  background-repeat: no-repeat;
  background-color: #d72136;
}

footer .content {
  padding: 100px 30px 0px;
  width: 100%;
  top: 0;
  left: 0;
}

footer .content .bg {
  background: #d72136;
  width: 100%;
  height: calc(100% - 22vw);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

footer .content .mobile-logo {
  display: none;
  width: 60px;
  margin-bottom: 30px;
}

footer .content .left {
  border-right: 1px solid #fff;
}

footer .content .left .footer-list {
  margin-bottom: 30px;
}

footer .content .left .footer-list .footer-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1;
  color: #fff;
}

footer .content .left .footer-list .footer-title .plus {
  width: 13px;
  margin-left: 5px;
  margin-bottom: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .content .left .footer-list ul li {
  margin-bottom: 5px;
}

footer .content .left .footer-list ul li a {
  color: #fff;
}

footer .content .left .footer-list .icon a {
  display: inline-block;
  margin: 0 3px;
}

footer .content .left .footer-list .icon a img {
  width: 35px;
}

footer .content .right .link {
  text-align: center;
  margin-bottom: 75px;
}

footer .content .right .link span {
  margin: 0 5px;
  color: #fff;
}

footer .content .right .link a {
  color: #fff;
}

footer .content .right .logo {
  display: block;
  margin: 100px auto 15px;
}

footer .content .right .user {
  display: block;
  margin: 0 auto;
  border: 1px solid #ffffff;
  padding: 8px 15px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

footer .content .right .user a {
  color: #fff;
}

footer .content .right .user:hover {
  background-color: #fff;
}

footer .content .right .user:hover a {
  color: #d72136;
}

footer .content .copyright {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 10px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .dealer .dealer-pic {
    width: 50%;
  }
  .dealer .dealer-text {
    width: 50%;
  }
  .dealer .dealer-text .text {
    width: 90%;
  }
  .dealer .dealer-text .text br {
    display: none;
  }
  .dealer .dealer-text .bg-box .bg {
    padding-bottom: 24.7vw;
  }
  .dealer-leader .dealer-text {
    height: auto !important;
  }
  .dealer-leader .dealer-text .text br {
    display: block;
  }
  footer .bg-style .bg {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 991px) {
  .dealer .dealer-text {
    height: 64vw;
  }
  .dealer .dealer-text .bg-box .bg {
    padding-bottom: 44.7vw;
  }
  .second-card {
    margin-bottom: 22px;
  }
  .second-card .text {
    padding: 20px;
  }
  .second-card .text h3 {
    font-size: 18px;
    line-height: 1.3;
  }
  .second-card-charity .pic {
    width: 100%;
  }
  .second-card-charity .pic .inner {
    padding-bottom: 45%;
  }
  .second-card-charity .text {
    width: 100%;
  }
  .second-card-charity .text h3 {
    margin: 0;
  }
  .second-card-charity .text p {
    display: none;
  }
  .second-card-new .text h3 {
    margin: 0;
  }
  .second-card-new .text p.date {
    margin-bottom: 0;
    font-size: 12px;
  }
  .second-card-new .text p.content {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 150px;
  }
  .py-80px {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .pt-40px {
    padding-top: 20px;
  }
  .pt-80px {
    padding-top: 40px;
  }
  .pb-80px {
    padding-bottom: 40px;
  }
  .mt-60px {
    margin-top: 30px;
  }
  .mb-80px {
    margin-bottom: 40px;
  }
  .mt-n57px {
    margin-top: -150px;
  }
  .pt-57px {
    padding-top: 150px;
  }
  .page-title {
    text-align: right;
    padding: 0 20px;
    margin-bottom: 25px;
  }
  .page-tab {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.35);
    z-index: 100;
  }
  .page-tab li {
    width: 100%;
    margin-bottom: 25px;
  }
  .page-tab li button {
    width: 100%;
    text-align: center;
  }
  .page-tab li button::after {
    display: none;
  }
  .page-tab li:last-child {
    margin: 0;
  }
  .page-tab-mobile {
    display: block;
  }
  .page-tab-bg {
    display: block;
  }
  .page-tab-box {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
  }
  .page-banner .container {
    padding: 0;
    max-width: none;
  }
  .page-banner_inner {
    padding-top: 10%;
    background-size: 60% auto;
  }
  .page-banner_content {
    -webkit-transform: none;
            transform: none;
  }
  .page-banner_content p {
    padding: 0 20px;
  }
  .page-banner_content h2 {
    padding: 0 20px;
  }
  .page-nav ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-bottom: 23px;
  }
  .dealer {
    height: auto;
  }
  .dealer .mobile-style {
    display: block;
  }
  .dealer .dealer-pic {
    width: 100%;
    height: 100vw;
  }
  .dealer .dealer-pic #dealer .swiper-slide img {
    top: 0;
    height: auto;
  }
  .dealer .dealer-pic .dealer-intro {
    right: 0;
    top: -47px;
  }
  .dealer .dealer-text {
    width: 100%;
    height: auto;
    min-height: auto;
    background-image: none;
    background-color: #d72136;
    position: static;
    padding: 50px 20px 30px;
  }
  .dealer .dealer-text .bg-box {
    display: none;
  }
  .dealer .dealer-text .text {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    text-align: center;
  }
  .dealer .dealer-text .more {
    position: static;
    float: right;
    margin-top: 20px;
  }
  footer {
    background-color: #d72136;
    background-image: none;
  }
  footer .bg-style {
    display: none;
  }
  footer .content {
    position: static;
    padding-top: 30px;
  }
  footer .content .left {
    border: 0;
  }
  footer .content .left .mobile-logo {
    display: block;
  }
  footer .content .left .footer-list {
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
  }
  footer .content .left .footer-list ul {
    display: none;
  }
  footer .content .left .footer-list .footer-title.active .plus {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  footer .content .left .footer-list.join {
    text-align: center;
  }
  footer .content .left .footer-list.join .footer-title {
    display: none;
  }
  footer .content .right {
    display: none;
  }
  footer .content .copyright {
    margin-top: 0;
  }
}

@media screen and (max-width: 575px) {
  .second-card .text {
    padding: 10px 20px;
  }
  .second-card-new .pic {
    width: 35%;
  }
  .second-card-new .text {
    width: 65%;
  }
  .main-pagination .page-item .page-link {
    padding: 5px 8px;
  }
}

@media screen and (max-width: 400px) {
  .main-card .text {
    padding: 10px 15px 20px;
  }
  footer .content .left .footer-list {
    padding-left: 5px;
    padding-right: 5px;
  }
  footer .content .left .footer-list .footer-title {
    font-size: 16px;
  }
  footer .content .left .footer-list ul li a {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1000px;
  }
}

#banner {
  position: relative;
  width: 100%;
  height: 100vh;
}

#banner .swiper-slide {
  position: relative;
}

#banner .swiper-slide img,
#banner .swiper-slide video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#banner .swiper-slide img.mobile-slider,
#banner .swiper-slide video.mobile-slider {
  display: none;
}

#banner .swiper-pagination {
  width: 200px;
  height: 3px;
  top: inherit;
  bottom: 20px;
  left: 50%;
  border-radius: 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.3);
}

#banner .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #fff;
  border-radius: 50px;
}

.intro {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

.intro .intro-box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.intro .intro-box h2 {
  color: #d72136;
}

.product {
  width: 100%;
}

.product .product-pic {
  width: 43%;
}

.product .product-pic .swiper-slide {
  width: 100%;
  padding-bottom: 200%;
  position: relative;
}

.product .product-pic .swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product .product-pic .swiper-button-next,
.product .product-pic .swiper-button-prev {
  display: none;
}

.product .product-card {
  width: 57%;
  padding: 40px 80px 0;
  position: relative;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.product .product-card .common-title {
  color: #d72136;
  text-align: center;
  margin-bottom: 45px;
}

.product .product-card #mobile-product .product-box .text {
  text-align: left;
}

.product .product-card #mobile-product .product-box .text a {
  text-align: center;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.product .product-card .more {
  position: static;
  float: right;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .product .product-pic {
    width: 50%;
  }
  .product .product-pic #product-pic {
    width: 100%;
    height: 120vw;
  }
  .product .product-card {
    width: 50%;
    padding: 40px 30px;
  }
}

@media screen and (max-width: 767px) {
  #banner .swiper-slide img.normal-slider {
    display: none;
  }
  #banner .swiper-slide img.mobile-slider {
    display: block;
  }
  .product .product-pic {
    width: 100%;
  }
  .product #product-pic {
    width: 100%;
    height: 100vw;
  }
  .product #product-pic .swiper-button-next,
  .product #product-pic .swiper-button-prev {
    display: block;
  }
  .product .product-card {
    width: 100%;
    padding: 50px 0 30px 15px;
  }
  .product .product-card .common-title {
    padding-right: 15px;
  }
  .product .more {
    padding-right: 15px;
  }
}

.group-box {
  padding: 23px 45px;
  background-color: #fff;
  height: 100%;
}

.group-box h4 {
  font-size: 18px;
  color: #d72136;
  margin-bottom: 5px;
  font-weight: 600;
}

.group-box h5 {
  color: #c5aa76;
  font-size: 15px;
  margin-bottom: 15px;
  font-weight: 600;
}

.group-box ul li {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

.year-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.year-box .year-content {
  width: calc(50% - 40px);
  padding: 20px 15px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.year-box .year-content h3 {
  font-weight: 600;
  font-size: 22px;
  color: #d72136;
  border-bottom: 1px solid #c5aa76;
  margin-bottom: 15px;
  padding-bottom: 10px;
  width: 100%;
}

.year-box .year-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.year-box .year-content ul li {
  line-height: 30px;
}

.year-box .year-content::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 25px;
  background-image: url(../img/right_chevron_icon-gray.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 20px;
}

.year-box .year-content:hover {
  background-color: #fff;
  -webkit-box-shadow: -4px 2px 7px rgba(0, 0, 0, 0.0656141);
          box-shadow: -4px 2px 7px rgba(0, 0, 0, 0.0656141);
}

.year-box .year-content:hover::before {
  background-image: none;
  border: 10px solid;
  border-color: transparent transparent transparent #fff;
  -webkit-filter: drop-shadow(-4px 2px 7px rgba(0, 0, 0, 0.0656141));
          filter: drop-shadow(-4px 2px 7px rgba(0, 0, 0, 0.0656141));
}

.year-box .year-content.left::before {
  left: calc(100% + 2px);
}

.year-box .year-content.left:hover::before {
  left: 100%;
}

.year-box .year-content.right::before {
  right: calc(100% + 2px);
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.year-box .year-content.right::before:hover::before {
  right: 100%;
}

.year-box .dot-box {
  width: 20px;
}

.year-box .dot-box .dot {
  border: 2px solid #d72136;
  width: 20px;
  height: 20px;
  background-color: #f8f8f8;
}

.year-box .dot-box .line {
  width: 2px;
  height: 100%;
  background-color: #d72136;
  margin: 0 auto;
}

.year-box:nth-child(odd) .year-content.right {
  opacity: 0;
}

.year-box:nth-child(even) .year-content.left {
  opacity: 0;
}

.honor-box {
  background-color: #fff;
  padding: 23px 33px;
}

.honor-box h3 {
  color: #d72136;
  font-size: 22px;
  margin-bottom: 30px;
}

.honor-box ul li {
  font-weight: 500;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .year-box .year-content.left {
    display: none;
  }
  .year-box .year-content.right {
    display: block;
    opacity: 1 !important;
    width: calc(100% - 60px);
  }
}

.article-banner h2 {
  font-size: 24px;
  font-weight: 700;
  color: #d72136;
  margin-bottom: 30px;
  line-height: 1.6;
}

.article-banner img {
  width: 100%;
  margin-bottom: 10px;
}

.article-banner p {
  font-weight: 500;
}

.article-cotent p {
  line-height: 1.6;
}

.article-cotent .pic-box {
  width: 80%;
  margin: 0 auto;
}

.article-cotent .pic-box img {
  width: 100%;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .article-cotent {
    padding: 0 20px;
  }
  .article-cotent .pic-box {
    width: 100%;
  }
}

.product-banner {
  width: 100%;
  padding-bottom: 25%;
  position: relative;
  margin-bottom: 43px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.product-banner-health {
  background-image: url(../img/product_banner_1.png);
}

.product-banner-furniture {
  background-image: url(../img/product_banner_2.png);
}

.product-banner-beauty {
  background-image: url(../img/product_banner_3.png);
}

.product-banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-banner_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.product-banner .text {
  text-align: center;
  color: #fff;
  font-size: 24px;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-box {
  padding: 5px 5px 10px;
  background-color: #fff;
  margin-bottom: 22px;
}

.product-box .pic {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.product-box .pic img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-box .text {
  padding: 10px 10px 5px;
  text-align: center;
}

.product-box .text h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-box .text .number {
  font-size: 15px;
  margin-bottom: 15px;
}

.product-box .text a {
  color: #d72136;
  font-weight: 700;
  position: relative;
}

.product-box .text a:after {
  width: 100%;
  height: 1px;
  background-color: #d72136;
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
}

.product-inform {
  padding-top: 150px;
  padding-bottom: 150px;
}

.product-inform .pic {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.product-inform .pic img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-inform .text .name {
  font-size: 24px;
  font-weight: 700;
  color: #d72136;
  margin-bottom: 10px;
}

.product-inform .text .price {
  font-size: 18px;
  color: #c5aa76;
  font-weight: 600;
  margin-bottom: 0;
}

.product-inform .text hr {
  background-color: #b6b6b6;
  opacity: 1;
}

.product-inform .text .product-intro {
  margin-bottom: 30px;
}

.product-inform .text .product-intro p {
  margin: 0;
  font-weight: 500;
  line-height: 1.8;
}

.product-inform .text button {
  width: 100%;
  background-color: #d72136;
  margin-bottom: 5px;
}

.product-inform .text button a {
  display: block;
  padding: 12px;
  color: #fff;
}

.product-inform .text .remark {
  color: #6e6e6e;
}

.buy-alert img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .product-banner {
    padding-bottom: 50%;
  }
  .product-banner .text h2 {
    font-size: 18px;
  }
  .product-inform {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

.contact-form {
  max-width: 650px;
  margin: 0 auto;
  padding: 40px 20px 0;
}

.contact-form input, .contact-form textarea {
  background-color: #F7EFF0;
  padding: 15px 25px;
  width: 100%;
  border: 0;
  margin-bottom: 20px;
}

.contact-form input::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
  color: #6e6e6e;
}

.contact-form input:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
  color: #6e6e6e;
}

.contact-form input::-ms-input-placeholder, .contact-form textarea::-ms-input-placeholder {
  color: #6e6e6e;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #6e6e6e;
}

.contact-form .vertify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
}

.contact-form .vertify input {
  width: 200px;
  margin-right: 15px;
}

.contact-form .vertify_pic {
  height: 50px;
}

.contact-form .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form .btn-box button {
  width: calc(50% - 10px);
  padding: 15px;
  color: #fff;
}

.contact-form .btn-box button.clear {
  background-color: #979797;
}

.contact-form .btn-box button.send {
  background-color: #d72136;
}

.map-box {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
}

.map-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.store-box {
  background-color: #fff;
  padding: 20px 30px;
  margin: 20px 0;
}

.store-box .main-store h3 {
  font-size: 20px;
  color: #d72136;
  margin-bottom: 5px;
}

.store-box .main-store p {
  margin-bottom: 5px;
}

.store-box .store {
  margin-bottom: 10px;
}

.store-box .store h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.store-box .store p {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .contact-form {
    padding: 20px 20px 0;
  }
  .contact-form input, .contact-form textarea {
    padding: 10px 15px;
  }
  .contact-form .vertify input {
    width: 100px;
  }
  .contact-form .vertify_pic {
    height: 35px;
  }
  .map-outer {
    padding-left: 0;
    padding-right: 0;
  }
  .store-box {
    width: calc(100% - 100px);
    margin: 20px auto;
  }
}

.story-box span {
  color: #7E7E7E;
  font-size: 14px;
  margin-bottom: 3px;
}

.story-box h2 {
  color: #c5aa76;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.story-box_inner {
  margin-bottom: 35px;
}

.story-box_inner h3 {
  color: #d72136;
  font-size: 18px;
  margin-bottom: 3px;
}

.story-box_inner p {
  margin: 0;
  line-height: 1.8;
}

.story-box_inner a {
  display: block;
  padding-left: 20px;
  line-height: 2;
  position: relative;
  text-decoration: underline;
}

.story-box_inner a::before {
  content: "-";
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.video-box {
  margin-bottom: 70px;
}

.video-box h3 {
  color: #c5aa76;
  font-size: 24px;
  margin-bottom: 5px;
}

.video-box_content {
  width: 100%;
  padding-bottom: calc(100% * 9 / 16);
  position: relative;
}

.video-box_content iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main-pic {
  overflow: hidden;
}

.main-pic_inner {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  cursor: pointer;
}

.main-pic_inner img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-pic_dialog {
  margin: 70px auto 30px;
  max-width: 1000px;
}

.modal-pic_dialog .modal-body {
  position: relative;
  padding: 0;
}

.modal-pic_dialog .modal-body .modal_arrow {
  position: absolute;
  width: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.modal-pic_dialog .modal-body .modal_arrow.prev {
  left: -30px;
  -webkit-transform: translateY(-50%) scaleX(-1);
          transform: translateY(-50%) scaleX(-1);
}

.modal-pic_dialog .modal-body .modal_arrow.next {
  right: -30px;
}

.modal-pic_dialog .modal-content {
  border: 0;
  background-color: transparent;
}

.modal-pic_dialog .modal-footer {
  border: 0;
  background-color: transparent;
  padding-top: 35px;
}

.modal-pic_dialog .modal-footer button {
  display: block;
  margin: 0 auto;
  background-color: #c5aa76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  padding: 8px 40px;
}

.modal-pic_dialog .modal-footer button img {
  width: 10px;
}

.modal-pic_dialog .modal-footer button span {
  color: #fff;
}

.modal-pic_inner {
  width: 100%;
  padding-bottom: 60%;
  position: relative;
}

.modal-pic_inner img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .video-box {
    margin-bottom: 35px;
  }
  .video-box h3 {
    font-size: 20px;
  }
  .modal-pic_dialog {
    width: calc(100% - 80px);
    margin-top: 150px;
  }
  .modal-pic_dialog .modal-body .modal_arrow {
    width: 15px;
  }
}

@media screen and (min-width: 576px) {
  .modal-pic_dialog {
    max-width: 1000px;
  }
  .modal-pic_dialog .modal-content {
    background-color: transparent;
  }
  .modal-pic_dialog .modal-body {
    padding: 0;
  }
}

.earth-tab {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0;
}

.earth-tab .nav-link {
  padding: 5px 25px;
  border-radius: 100px;
  color: #fff;
  background-color: #707070;
  border: 0;
  margin: 0 15px 15px;
}

.earth-tab .nav-link.active {
  background-color: #d72136;
  color: #fff;
}

.fc-theme-standard th {
  background-color: #d72136;
  border: 0;
  padding: 5px 0;
}

.fc-theme-standard th a {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.fc-theme-standard td {
  border: 0;
}

.fc-theme-standard .fc-daygrid-day {
  border: 0;
  padding-top: 10px;
}

.fc-theme-standard .fc-daygrid-day.fc-day-today {
  background-color: transparent;
}

.fc-theme-standard .fc-daygrid-day.fc-day-today::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #C5AA76;
  top: 8px;
  left: 0;
}

.fc-theme-standard .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
  background-color: #F6F2EA;
}

.fc-theme-standard .fc-scrollgrid {
  border: 0;
}

.fc .fc-daygrid-day-top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fc .fc-daygrid-day-frame {
  background-color: #fff;
}

.fc .fc-toolbar-title {
  display: inline-block;
  font-size: 16px;
  padding: 5px 20px;
  color: #fff;
  background-color: #c5aa76;
  line-height: 1.5;
}

.fc .fc-button-primary {
  background-color: #c5aa76;
  border-color: #c5aa76;
}

.fc .fc-button-primary:hover {
  background-color: #c5aa76;
  border-color: #c5aa76;
  opacity: 0.8;
}

.fc .fc-toolbar-chunk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fc .fc-button {
  border-radius: 0;
  padding: 4px 10px;
  font-size: 16px;
}

.fc-scrollgrid-sync-table tr {
  position: relative;
}

.fc-h-event {
  background-color: #d72136;
  border-color: #d72136;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .calendar-box {
    padding: 80px 0;
  }
}
/*# sourceMappingURL=style.css.map */